#wpwrap {
  background: #FFF;
}

/* KP Plugin */
.kp-wrapper {
  margin-left: -20px;
  color: #706f6f;
  font-size: 12px;
}

.kp-wrapper * {
  box-sizing: border-box;
}

.kp-clearfix:before,
.kp-clearfix:after {
  content: "";
  display: table;
}

.kp-pull-right {
  float: right;
}

.kp-hide {
  display: none;
}

.kp-clearfix:after {
  clear: both;
}

.kp-container {
  padding: 0 20px;
}

.kp-title {
  margin: 0 0 25px 0;
  text-transform: uppercase;
  color: inherit;
  font-size: 12px;
}

.kp-col-6 {
  width: 50%;
  display: inline-block;
  padding: 0 15px;
  float: left;
}

.kp-row .kp-col-6:first-child{
  padding-left: 0;
}

.kp-row .kp-col-6:last-child{
  padding-right: 0;
}

.kp-input-group {
  border: 1px solid #CCC;
  border-radius: 5px;
  background: #FFF;
  overflow: hidden;
}

.kp-input-group input,
.kp-input-group button {
  border: 0;
  background: inherit;
  color: #99cc33;
  margin: 0;
  float: left;
  box-shadow: none;
  padding: 15px;
  text-align: center;
}

.kp-input-group input {
  width: 90%;
}

.kp-input-group button {
  width: 10%;
  border-left: 1px solid #CCC;
  cursor: pointer;
}

.kp-header {
  text-align: center;
  padding: 25px 0;
}

.kp-header img {
  height: 30px;
}

.kp-btn {
  text-align: center;
  width: 188px;
  height: 44px;
  line-height: 43px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
}

.kp-btn-outline {
  border: 1px solid #99cc33;
  background-color: #fff;
  color: #99cc33;
}

.kp-btn-outline:hover {
  background-color: #ebf5d6;
}

.kp-btn-primary,
.kp-btn-outline.active {
  border: 1px solid #99cc33;
  background-color: #99cc33;
  color: #FFF;
}

.kp-btn-primary:hover,
.kpp-btn-outline.active:hover {
  border: 1px solid #87b32e;
  background-color: #87b32e;
}

.kp-btn-simple {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.kp-options {
  text-align: right;
}

.kp-select-table .kp-search {
  margin: 5px 0;
}

.kp-table {
  width: 100%;
  border-spacing:0;
  border: 0;
}

.kp-table th {
  text-align: left;
  padding: 40px 13px 10px 20px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  background-color: #2e502e;
  font-weight: bold;
  position: relative;
}

.kp-table tbody tr {
  color: #706f6f;
  background-color: #f6f6f6;
  border-bottom: 1px solid #fff;
  height: 45px;
}

.kp-table tbody tr:hover {
  background-color: #e7e7e7;
}

.kp-table td {
  padding: 8px 20px;
}

.kp-table th::before {
  content: "";
  background-image: url(../img/kp-sorter.png);
  float: right;
  position: absolute;
  display: block;
  right: 10px;
  top: 51px;
  width: 10px;
  height: 5px;
}

.kp-table th.headerSortUp::before {
  background-position-y: 6px;
}

.kp-table th.sorter-false::before {
  background-image: none;
}

.kp-tab-content {
  display: none;
}

.kp-form-group {
  margin-bottom: 7.5px;
}

input.kp-form-control,
select.kp-form-control {
  display: block;
  font-size: 12px;
  width: 100%;
  height: 34px;
  box-shadow: none;
  border: 1px solid #c4c4c4;
  color: #706f6f;
  font-weight: 700;
  border-radius: 3px;
}

.kp-modal-mask,
.kp-modal {
  display: none;
}

.kp-modal-mask {
  background: rgba(217, 217, 217, .45);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.kp-modal {
  background: #FFF;
  width: 440px;
  margin: auto;
  margin-top: 100px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 3px 3px 3px 0 rgba(0,0,0,.15);
}

.kp-modal-header {
  background-color: #2e502e;
  color: #fff;
  padding: 20px 0 10px 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.kp-modal-body {
  padding: 30px;
}

.kp-modal-footer {
  padding: 0 30px 30px;
}

.kp-alert {
  color: #666;
  padding: 10px 15px;
  border-radius: 3px;
  margin-bottom: 3px;
}

.kp-alert:last-child {
  margin-bottom: 0;
}

.kp-alert-success {
  background: #E2FFA7;
  border: 1px solid #BAE268;
  color: #51821F;
}

.kp-alert-warning {
  background: #FEFFA7;
  border: 1px solid #E2DE68;
  color: #82771F;
}

.kp-alert-off {
  display: none;
}

#kp-apikey {
  background: #FAFAFA;
  padding: 45px;
}

#kp-apikey-form label {
  margin: 43px 0 10px;
  display: block;
}

#kp-pages .kp-buttons {
  padding: 50px 0 35px;
}

#kp-pages .kp-buttons button:first-child{
  margin-right: 15px;
}

#kp-alerts {
  margin: 20px 0 10px;
  text-align: center;
}